package $!{daoPackageName};

import java.util.List;

import $!{beanPackageName}.$!{tableModel.beanName};
/**
 * 
 * @Author stevy.builder
 * @Create Date $!{now}
 */
public interface $!{tableModel.beanName}Mapper {

    int insert($!{tableModel.beanName} $!{tableModel.lowerBeanName});

    int delete($!{tableModel.primaryKey.beanType} $!{tableModel.primaryKey.beanName});

    int update($!{tableModel.beanName} $!{tableModel.lowerBeanName});

    $!{tableModel.beanName} selectOne($!{tableModel.primaryKey.beanType} $!{tableModel.primaryKey.beanName});
    
    List<$!{tableModel.beanName}> selectList($!{tableModel.beanName} $!{tableModel.lowerBeanName});
}
