package $!{daoPackageName};

import java.util.List;

import $!{beanPackageName}.$!{tableModel.beanName};
/**
 * 
 * @Author stevyqi.builder
 * @Create Date $!{now}
 */
public interface $!{tableModel.beanName}Mapper {

    int insert($!{tableModel.beanName} $!{tableModel.lowerBeanName});
    
    int insertSelective($!{tableModel.beanName} $!{tableModel.lowerBeanName});

    int delete($!{tableModel.primaryKey.shortBeanType} $!{tableModel.primaryKey.beanName});

    int update($!{tableModel.beanName} $!{tableModel.lowerBeanName});

    int updateSelective($!{tableModel.beanName} $!{tableModel.lowerBeanName});

    $!{tableModel.beanName} selectOne($!{tableModel.primaryKey.shortBeanType} $!{tableModel.primaryKey.beanName});
    
    List<$!{tableModel.beanName}> selectList($!{tableModel.beanName} $!{tableModel.lowerBeanName});
    
    List<$!{tableModel.beanName}> selectList();
}
