package $!{beanPackageName};

#foreach($field in $tableModel.importSet)
import $!{field};
#end

/**
 * 
 * @Author stevy.builder
 * @Create Date $!{now}
 */
public class $!{tableModel.beanName} {

	#foreach($field in $tableModel.fieldList)
private $!{field.shortBeanType} $!{field.beanName};
	
	#end

	#foreach($field in $tableModel.fieldList)
public $!{field.beanType} get$!{field.suffixBeanName}() {
		return $!{field.beanName};
	}

	public void set$!{field.suffixBeanName}($!{field.shortBeanType} $!{field.beanName}) {
		this.$!{field.beanName} = $!{field.beanName};
	}
	
	#end

}
